# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "composer" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly" # Check the npm registry for updates every week
    labels:
      - "php"
      - "dependencies"
    groups:
      laravel-dev-dependencies:
        dependency-type: "development"
      laravel-prod-dependencies:
        dependency-type: "production"

  - package-ecosystem: "npm"
    directory: "/" # Look for `package.json` and `lock` files in the `root` directory
    schedule:
      interval: "weekly" # Check the npm registry for updates every week
    labels:
      - "npm"
      - "dependencies"
    groups:
      node-dev-dependencies:
        dependency-type: "development"
      node-prod-dependencies:
        dependency-type: "production"
    registries:
      - npm-github

  - package-ecosystem: "npm"
    directory: "/spa"
    schedule:
      interval: "weekly"
    labels:
      - "npm"
      - "dependencies"
    groups:
      spa-dev-dependencies:
        dependency-type: "development"
      spa-prod-dependencies:
        dependency-type: "production"
    registries:
      - npm-github

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
    groups:
      github-actions-dependencies:
        patterns:
          - ".*"

registries:
  npm-github:
    type: npm-registry
    url: https://npm.pkg.github.com
    token: ${{secrets.DEPENDABOT_GITHUB_PACKAGES_TOKEN}}