[submodule ".legacy-database/ddl"]
	path = .legacy-database/ddl
	url = https://bitbucket.org/mwnf/database-creation.git
	shallow = true
[submodule ".legacy-database/data"]
	path = .legacy-database/data
	url = https://bitbucket.org/mwnf/database-content.git
	shallow = true
[submodule ".legacy-code/islamicart"]
	path = .legacy-code/islamicart
	url = https://bitbucket.org/mwnf/islamicart.museumwnf.org.git
	shallow = true
[submodule ".legacy-code/baroqueart"]
	path = .legacy-code/baroqueart
	url = https://bitbucket.org/mwnf/baroqueart.museumwnf.org.git
	shallow = true
[submodule ".legacy-code/sharinghistory"]
	path = .legacy-code/sharinghistory
	url = https://bitbucket.org/mwnf/sharinghistory.museumwnf.org.git
	shallow = true
[submodule ".legacy-code/explore"]
	path = .legacy-code/explore
	url = https://bitbucket.org/mwnf/explore.museumwnf.net.git
	shallow = true
[submodule ".legacy-code/dxa-api"]
	path = .legacy-code/dxa-api
	url = https://bitbucket.org/mwnf/dxa-api.git
	shallow = true
[submodule ".legacy-code/dxa-client"]
	path = .legacy-code/dxa-client
	url = https://bitbucket.org/mwnf/dxa-client.git
	shallow = true
[submodule ".legacy-code/exhibitions-client"]
	path = .legacy-code/exhibitions-client
	url = https://bitbucket.org/mwnf/exhibitions-client.git
	shallow = true
[submodule ".new-architecture/viewer-core"]
	path = .new-architecture/viewer-core
	url = https://github.com/metanull/viewer-core
[submodule ".new-architecture/viewer-layout"]
	path = .new-architecture/viewer-layout
	url = https://github.com/metanull/viewer-layout
[submodule ".new-architecture/viewer-workflows"]
	path = .new-architecture/viewer-workflows
	url = https://github.com/metanull/viewer-workflows
[submodule ".new-architecture/website-template"]
	path = .new-architecture/website-template
	url = https://github.com/metanull/website-template
[submodule ".new-architecture/islamicart"]
	path = .new-architecture/islamicart
	url = https://github.com/metanull/islamicart
[submodule ".new-architecture/baroqueart"]
	path = .new-architecture/baroqueart
	url = https://github.com/metanull/baroqueart
[submodule ".new-architecture/sharinghistory"]
	path = .new-architecture/sharinghistory
	url = https://github.com/metanull/sharinghistory
[submodule ".new-architecture/carpets"]
	path = .new-architecture/carpets
	url = https://github.com/metanull/carpets
[submodule ".new-architecture/water-in-islam"]
	path = .new-architecture/water-in-islam
	url = https://github.com/metanull/water-in-islam
[submodule ".new-architecture/amulets"]
	path = .new-architecture/amulets
	url = https://github.com/metanull/amulets
[submodule ".new-architecture/the-use-of-colours-in-art"]
	path = .new-architecture/the-use-of-colours-in-art
	url = https://github.com/metanull/the-use-of-colours-in-art
[submodule ".new-architecture/viewer-i18n"]
	path = .new-architecture/viewer-i18n
	url = https://github.com/metanull/viewer-i18n
