includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    level: 5

    databaseMigrationsPath:
        - database/migrations

    ignoreErrors:

    stubFiles:
        - phpstan-stubs/spatie-permission.php

    excludePaths:
